#registrationDialog div {
    margin-bottom: 1em;
}

#registrationTitle {
    font-weight: bold;
}

.server {
    font-style: italic;
}

#userId {
    font-size: 1em;
}

#registration div {
    margin-bottom: 1em;
}

label {
    margin-right: 0.5em;
}

.invalid {
    background-color: red;
}


#userInfoContainer {
    flex-basis: 100%;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

#userInfo {
    background: #DDDDDD;
    display: flex;
    flex-direction: row;
    padding-right: 1em;
    padding-left: 1em;
}

#userName {
    padding-left: 0.5em;
    font-style: italic;
    font-weight: bold;
}

#userSkin {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 32px;
    width: 32px;
    background-size: 256px 256px;
    background-position: -32px -32px;
    background-repeat: no-repeat;
    display: inline-block;
    z-index: 10;
}

#userOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 32px;
    width: 32px;
    background-size: 256px 256px;
    background-position: -160px -32px;
    background-repeat: no-repeat;
    display: inline-block;
    z-index: 50;
}

#skinContainer {
    position: relative;
    width: 32px;
}

#loginButton {
    text-decoration: underline;
    color: blue;
    font-size: 0.75em;
    cursor: pointer;
}

#logoutButton {
    text-decoration: underline;
    color: blue;
    font-size: 0.75em;
    cursor: pointer;
}
