#container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#editor {
    width: 100%;
    flex-basis: 100%;
}

#codeEditor {
    width: 100%;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.CodeMirror {
    width: 100%;
    flex-basis: 100%;
}

#guiEditor {
    width: 100%;
    flex-basis: 100%;
    flex-direction: column;
    overflow-y: auto;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #F8F8F8;
}

#modeSelector {
    margin-left: 2em;
    flex: 0 0 auto;
}

#saveButtonContainer {
    margin-right: 1em;
    padding-bottom: 2px;
}

#referenceButtonContainer {
    padding-left: 2em;
}

.headerRow td {
    background-color: #444444;
    color: white;
    padding: 6px;
}

#loadSpellsTable {
    border-collapse: collapse;
}

.spellName {
    font-weight: bold;
}

.spellCreator {
    font-style: italic;
}

.spellDescriptionOuter {
    position: relative;
    height: 1.2em;
}

.spellDescriptionInner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto;
    top: 0;
    bottom: 0;
    padding-left: 10px;
}

.spellDescription {
    color: #888888;
}

.ui-checkboxradio-icon {
    display: none;
}

.syntax-error {
    text-decoration: underline;
    color: red !important;
}

#editorTree:focus {
    outline: 0;
}

.propertyInput {
    width: 100%;
}

.ui-menu {
    width: 20em;
}

.ui-menu kbd { /* Keyboard shortcuts for ui-contextmenu titles */
    float: right;
}

.ui-button-icon-only.demo-splitbutton-select {
    width: 0.5em;
}

.controlgroup {
    flex: 0 0 auto;
}